html{
	background:pink;
    height: 100%;	
}
/*最外层容器样式*/
.wrap{
	/* width: 10px;
	height: 10px; */
	/* width: 0.1rem;
	height: 0.1rem; */
	/*改变左右上下,图片方块移动*/
	/* margin: 200px 400px; */
	margin: 5rem 2rem;
	position: relative;
	
}
/*包裹所有容器样式*/
.cube{
	/* width:600px;
	height:400px; */
	width:3rem;
	height:2rem;
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	-webkit-animation: rotate 20s infinite;
	/*匀速*/
	animation-timing-function: linear;
}
@-webkit-keyframes rotate{
	from{transform: rotateX(0deg) rotateY(0deg);}
	to{transform: rotateX(360deg) rotateY(360deg);}
}
.cube div{
	position: absolute;
	/* width: 300px;
	height: 300px; */
	width: 3rem;
	height: 3rem;
	opacity: 0.8;
	transition: all .4s;
}
/*定义所有图片样式*/
.pic{
	/* width: 300px;
	height: 300px; */
	width: 3rem;
	height: 3rem;
}
.cube .out_front{
	transform: rotateY(0deg) translateZ(1.5rem);
}
.cube .out_back{
	transform: translateZ(-1.5rem) rotateY(180deg);
}
.cube .out_left{
	transform: rotateY(90deg) translateZ(1.5rem);
}
.cube .out_right{
	transform: rotateY(-90deg) translateZ(1.5rem);
}
.cube .out_top{
	transform: rotateX(90deg) translateZ(1.5rem);
}
.cube .out_bottom{
	transform: rotateX(-90deg) translateZ(1.5rem);
}
/*定义小正方体样式*/
.cube span{
	display: bloack;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}
.cube .in_pic{
	width: 2rem;
	height: 2rem;
}
.cube .in_front{
	transform: rotateY(0deg) translateZ(1rem);
}
.cube .in_back{
	transform: translateZ(-1rem) rotateY(180deg);
}
.cube .in_left{
	transform: rotateY(90deg) translateZ(1rem);
}
.cube .in_right{
	transform: rotateY(-90deg) translateZ(1rem);
}
.cube .in_top{
	transform: rotateX(90deg) translateZ(1rem);
}
.cube .in_bottom{
	transform: rotateX(-90deg) translateZ(1rem);
}
/*鼠标移入后样式*/
.cube:hover .out_front{
	transform: rotateY(0deg) translateZ(4rem);
}
.cube:hover .out_back{
	transform: translateZ(-4rem) rotateY(180deg);
}
.cube:hover .out_left{
	transform: rotateY(90deg) translateZ(4rem);
}
.cube:hover .out_right{
	transform: rotateY(-90deg) translateZ(4rem);
}
.cube:hover .out_top{
	transform: rotateX(90deg) translateZ(4rem);
}
.cube:hover .out_bottom{
	transform: rotateX(-90deg) translateZ(4rem);
}